@charset "utf-8";
table#mensalidade{
    text-align: center;
    margin-left: 20%;
}
table#mensalidade td{
    padding: 5px;
}
hgroup h4{
    text-align: center;
}
table#campori{
    text-align: center;
    margin-left: 10%;
}
table#campori td{
    padding: 5px;
}
table#doacao{
    text-align: center;
    margin-left: 25%;
}
table#doacao td{
    padding: 5px;
}